{% extends 'base.html' %}
{% load static %}

{% block title %} Whatznot Technology {% endblock title %}






{% block content %}


{% include 'hero.html' %}




        <!-- About area start -->

        <section class="about__area">
          <div class="container line g-0 pt-140 pb-130">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-12">
                <div class="about__title-wrapper">
                  <h3 class="sec-title title-anim">We unlock the potential of your business
                    with creative Ideas</h3>
                </div>

                <div class="about__content-wrapper">
                  <div class="about__img">
                    <div class="img-anim">
                      <img src="{% static 'imgs/about/1/1.jpg' %}" alt="About Image" data-speed="0.3">
                    </div>

                    <div class="about__img-right">
                      <img src="{% static 'imgs/about/1/2.jpg' %}" alt="About Image Right" data-speed="0.5">
                      <div class="shape">
                        <div class="secondary" data-speed="0.9"></div>
                        <div class="primary"></div>
                      </div>
                    </div>
                  </div>

                  <div class="about__content text-anim">
                    <p>Are you looking for ways to make your website or app more engaging? One way you can do this is by developing engaging ideas for your website or app.
                      By having catchy and memorable outlooks and performance, you can increase the overall appeal of your site or app and encourage more people to use it.
                      The development process is daunting, yet when you need custom services from scratch, we've got you covered.
                      To develop or use any digital services like website and application development, digital marketing, design, etc., contact Whatznot Technology or post or project today!</p>

                    <div id="btn_wrapper" class="cursor-btn">
                      <a class="btn-item wc-btn-primary btn-hover" href="about"><span></span> Explore Us <i
                          class="fa-solid fa-arrow-right"></i></a>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- About area end -->


        <!-- Service area start -->
        <section class="service__area pt-110 pb-150">
          <div class="container">
            <div class="row">
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="sec-title-wrapper wrap">
                  <h2 class="sec-sub-title title-anim">service</h2>
                  <h3 class="sec-title title-anim">Solution we <br>provide</h3>
                </div>
              </div>
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="service__top-text text-anim">
                  <p>With every single one of our clients we bring forth a deep passion
                    for <span>creative problem solving
                      innovations</span> forward thinking
                    brands boundaries</p>
                </div>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                <div class="service__top-btn">
                  <div id="btn_wrapper">
                    <a href="{% url 'service' %}" class="btn-item wc-btn-secondary btn-hover"><span></span> View <br>all
                      services <i class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="service__list-wrapper">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-0 col-md-0">
                  <div class="service__img-wrapper">
                    {% for s in sa %}
                    <img src="/media/{{s.himage}}" alt="Service Image" class="service__img img-{{s.id}} active">
                    {%endfor%}

                    <span class="shape-box-1 current"></span>
                    <span class="shape-box-2"></span>
                    <span class="shape-box-3"></span>
                    <span class="shape-box-4"></span>
                  </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12">
                  <div class="service__list">
                    {% for s in sa %}
                    <a href="service/{{s.url}}">
                      <div class="service__item animation_home1_service" data-service="{{s.id}}">
                        <div class="service__number"><span>{{s.id}}</span></div>
                        <div class="service__title-wrapper">
                          <h4 class="service__title">{{s.title}}</h4>
                        </div>
                        <div class="service__text">
                          <p>{{s.shortdes}}</p>
                        </div>
                        <div class="service__link">
                          <p><i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                      </div>
                    </a>
                    {% endfor %}


                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service area end -->





        <!-- Workflow area start -->
        <section class="workflow__area">
          <div class="container g-0 line pt-140 pb-140">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-sub-title title-anim">Workflow</h2>
                  <h3 class="sec-title title-anim">How we work</h3>
                </div>
              </div>

              <div class="col-xxl-12">
                <div class="swiper workflow__slider ">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">step 01</h4>
                      <h5 class="workflow__number">01</h5>
                      <h6 class="workflow__title">Audience</h6>
                      <p>Having these the marketplace to your business</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">step 02</h4>
                      <h5 class="workflow__number">02</h5>
                      <h6 class="workflow__title">Plan & Sketch</h6>
                      <p>Delicate and long-lasting with vitamins and nutritions</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">step 03</h4>
                      <h5 class="workflow__number">03</h5>
                      <h6 class="workflow__title">Customize</h6>
                      <p>Creating brand identities for the digital experiences</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">step 04</h4>
                      <h5 class="workflow__number">04</h5>
                      <h6 class="workflow__title">User Testing</h6>
                      <p>We look forward to engage with beyond the conventional</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">step 05</h4>
                      <h5 class="workflow__number">05</h5>
                      <h6 class="workflow__title">User Testing</h6>
                      <p>We look forward to engage with beyond the conventional</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">step 06</h4>
                      <h5 class="workflow__number">06</h5>
                      <h6 class="workflow__title">User Testing</h6>
                      <p>We look forward to engage with beyond the conventional</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Workflow area end -->


<!-- Portfolio area start -->
  <section class="portfolio__area pb-140">
          <div class="container">
            <div class="row top_row">

              <h2 class="portfolio__text">work</h2>
              <div class="portfolio__list-1">
                {% for p in port %}
                <div class="portfolio__item">
                  <a href="portfolio/{{p.url}}"><img class="mover" src="/media/{{p.himage}}"
                      alt="Portfolio Image"></a>
                  <div class="portfolio__info">
                    <h3 class="portfolio__title">{{p.name}}</h3>
                    <p>{{p.add_time}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="row row_bottom">
              <div class="col-xxl-12">
                <div class="portfolio__btn" id="btn_wrapper" data-speed="1" data-lag="0.2">
                  <a class="wc-btn-secondary btn-hover btn-item" href="portfolio"><span></span>View <br>all
                    projects <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
  </section>
        <!-- Portfolio area end -->

<!-- Workflow area start -->
  <section class="workflow__area-3">
          <div class="workflow__wrapper-3">
            <div class="choose-wrapper wf_panel">
              <div class="container">
                <div class="row">
                  <div class="col-xxl-12">
                    <div class="choose-title-wrapper">
                      <h2 class="choose-title title-anim">why <br> choose us</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="research__area wf_panel pt-150">
              <div class="container inner_content">
                <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="sec-title-wrapper">
                      <h2 class="sec-sub-title">why <br>choose us</h2>
                      <h3 class="sec-title">Keword,Research Strategy, Survey, & Analytics</h3>
                      <p>Attention, we take out our round glasses and our sweater with elbow patches to go back to the
                        origins of the user experience: the first mention of the user and its importance was born in the
                      </p>
                    </div>
                    <ul class="research__tools">
                      <li><a href="#">Google</a></li>
                      <li><a href="#">pinterest</a></li>
                      <li><a href="#">Instagram</a></li>
                    </ul>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="research__list">
                      <div class="research__item">
                        <div class="research__number">
                          <span>60%</span>
                        </div>
                        <div class="research__info">
                          <h4 class="research__title">Strategy</h4>
                          <p>Your marketing strategy optimizing performances doesn’t have to be a guessing game.</p>
                        </div>
                      </div>

                      <div class="research__item">
                        <div class="research__number">
                          <span>95%</span>
                        </div>
                        <div class="research__info">
                          <h4 class="research__title">Audience</h4>
                          <p>Your marketing strategy optimizing performances doesn’t have to be a guessing game.</p>
                        </div>
                      </div>

                      <div class="research__item">
                        <div class="research__number">
                          <span>70%</span>
                        </div>
                        <div class="research__info">
                          <h4 class="research__title">Keyword</h4>
                          <p>Your marketing strategy optimizing performances doesn’t have to be a guessing game.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="counter__area-3 wf_panel">
              <div class="container">
                <div class="row">
                  <div class="col-xxl-12">
                    <div class="sec-title-wrapper">
                      <h2 class="sec-sub-title">Why <br>Choose Us</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                    <div class="counter__wrapper-3">
                      <div class="counter__item-3">
                        <h2 class="counter__number">25k</h2>
                        <p>Project <br>completed</p>
                      </div>
                      <div class="counter__item-3">
                        <h2 class="counter__number">8k</h2>
                        <p>Happy <br>customers</p>
                      </div>
                      <div class="counter__item-3">
                        <h2 class="counter__number">15</h2>
                        <p>Years <br>experiences</p>
                      </div>
                      <div class="counter__item-3">
                        <h2 class="counter__number">98</h2>
                        <p>Awards <br>achievement</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                    <div class="counter__img-3">
                      <img src="{% static 'imgs/thumb/counter-3.png' %}" alt="Counter Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- CTA area start -->
            <div class="cta__area-3 wf_panel">
              <div class="container pt-150 pb-150">
                <div class="row">
                  <div class="col-xxl-12">
                    <div class="cta__content-3">
                      <p class="cta__sub-title-2">Have you project in mind?</p>
                      <h2 class="cta__title-2">Let’s make something great together!</h2>
                      <div id="btn_wrapper">
                        <a href="{% url 'contact' %}" class="wc-btn-black btn-hover btn-item"><span></span>Contact <br>with
                          us <i class="fa-solid fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>
    <!-- CTA area start -->
        <div class="cta__area-3 wf_panel">
              <div class="container pt-150 pb-150">
                <div class="row">
                  <div class="col-xxl-12">
                    <div class="cta__content-3">
                      <p class="cta__sub-title-2">Have you project in mind?</p>
                      <h2 class="cta__title-2">Let’s make something great together!</h2>
                      <div id="btn_wrapper">
                        <a href="{% url 'contact' %}" class="wc-btn-black btn-hover btn-item"><span></span>Contact <br>with
                          us <i class="fa-solid fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <!-- Workflow area end -->

        <!-- Brand area start -->
  <section class="brand__area">
          <div class="container g-0 line pt-140 pb-130">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-sub-title title-anim">Internation Brands</h2>
                  <h3 class="sec-title title-anim">We are happy to work with global <br>
                    largest brands</h3>
                </div>
              </div>

              <div class="col-xxl-12">
                <div class="brand__list">
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/1.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/2.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/3.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/4.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/5.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/6.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/3.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/4.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/5.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/6.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/1.png' %}" alt="Brand Logo">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{% static 'imgs/brand/2.png' %}" alt="Brand Logo">
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>
        <!-- Brand area end -->


        <!-- Testimonial area start -->
  <section class="testimonial__area-3">
          <div class="container">
            <div class="row">
              <div class="col-xxl-12">
                <div class="swiper testimonial__slider-3">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial__slide-3">
                      <p>When we talk about Alts, we do not mean a typical business partner, but rather a team that
                        collaborates with us daily, always there for us when we encounter difficulties and celebrate
                        achievements. We see in Alts our best ally for success!</p>
                      <h2 class="client__name-3">Maria D. Halk</h2>
                      <h3 class="client__role-3">Managing Director</h3>
                    </div>
                    <div class="swiper-slide testimonial__slide-3">
                      <p>When we talk about Alts, we do not mean a typical business partner, but rather a team that
                        collaborates with us daily, always there for us when we encounter difficulties and celebrate
                        achievements. We see in Alts our best ally for success!</p>
                      <h2 class="client__name-3">Maria D. Halk</h2>
                      <h3 class="client__role-3">Managing Director</h3>
                    </div>
                    <div class="swiper-slide testimonial__slide-3">
                      <p>When we talk about Alts, we do not mean a typical business partner, but rather a team that
                        collaborates with us daily, always there for us when we encounter difficulties and celebrate
                        achievements. We see in Alts our best ally for success!</p>
                      <h2 class="client__name-3">Maria D. Halk</h2>
                      <h3 class="client__role-3">Managing Director</h3>
                    </div>
                    <div class="swiper-slide testimonial__slide-3">
                      <p>When we talk about Alts, we do not mean a typical business partner, but rather a team that
                        collaborates with us daily, always there for us when we encounter difficulties and celebrate
                        achievements. We see in Alts our best ally for success!</p>
                      <h2 class="client__name-3">Maria D. Halk</h2>
                      <h3 class="client__role-3">Managing Director</h3>
                    </div>
                    <div class="swiper-slide testimonial__slide-3">
                      <p>When we talk about Alts, we do not mean a typical business partner, but rather a team that
                        collaborates with us daily, always there for us when we encounter difficulties and celebrate
                        achievements. We see in Alts our best ally for success!</p>
                      <h2 class="client__name-3">Maria D. Halk</h2>
                      <h3 class="client__role-3">Managing Director</h3>
                    </div>
                  </div>
                  <div class="next-button swipper-btn"><i class="fa-solid fa-arrow-left"></i></div>
                  <div class="prev-button swipper-btn"><i class="fa-solid fa-arrow-right"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial__images-3 animation_image_zoom">
            {% load static %}
            <img src="{% static 'imgs/testimonial/3/1.jpg' %}" alt="testimonial Image" class="testimonial3__img">
            <img src="{% static 'imgs/testimonial/3/2.jpg' %}" alt="testimonial Image" class="testimonial3__img-2">
            <img src="{% static 'imgs/testimonial/3/3.jpg' %}" alt="testimonial Image" class="testimonial3__img-3">
            <img src="{% static 'imgs/testimonial/3/4.jpg' %}" alt="testimonial Image" class="testimonial3__img-4">
            <img src="{% static 'imgs/testimonial/3/5.jpg' %}" alt="testimonial Image" class="testimonial3__img-5">
            <img src="{% static 'imgs/testimonial/3/6.jpg' %}" alt="testimonial Image" class="testimonial3__img-6">
          </div>
  </section>
        <!-- Testimonial area end -->

       <!-- Team area start -->
  <section class="team__area-7">
        <h2 class="team__title-7 title-anim">Team</h2>
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="sec-text pb-100 text-anim">
                <p>We are here to help you achieve your business goals and the team create an amazing outstanding
                  product for your business.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xxl-12">
              <div class="team__items-7">
                {% for t in team_list %}
                <a href="about/team/{{t.url}}">
                  <div class="team__item-7 fade_bottom_3">
                    <div class="team__name-wrap-7">
                      <p class="tm-serial">01</p>

                      <h3 class="tm-name">{{t.name}}</h3>
                    </div>
                    <h4 class="tm-role">{{t.job}}</h4>
                    <div class="tm-link"><i class="fa-solid fa-arrow-right"></i></div>
                    <div class="team__hover-7" style="background-image: url(/media/{{t.image}});"></div>
                  </div>
                </a>
                {% endfor %}

                <div class="team7__img-wrap">
                  <div class="team7__img"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
      <!-- Team area end -->
       <!-- Feature area start -->
  <section class="feature__area-2 pt-130">
        <div class="feature__top">
          <div class="container">
            <div class="row">
              <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-6">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title title-anim">You have questions; we have the answers!</h2>
                </div>
              </div>
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6">
                <div class="feature__text text-anim">
                  <p>Whatznot Technology always carry big ideas for new technologies and a team of experienced creative people.
                    All of your digital needs will be fulfilled by us. If you like to try any of our affordable digital services, or have questions regarding them, feel free to contact us. </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="feature__btm">
          <div class="container">
            <div class="row">
              <div class="col-xxl-12">
                <div class="feature__list animation__feature2">
                  <div class="feature__item">
                    <img src="{% static 'imgs/feature/icon/1.png' %}" alt="Feature Icon">
                    <h3 class="feature__title">Branding</h3>
                    <p>Having these marketplace to your branded skilled team of designers and developers who
                      embracement
                      perfection.</p>
                  </div>
                  <div class="feature__item">
                    <img src="{% static 'imgs/feature/icon/2.png' %}" alt="Feature Icon">
                    <h3 class="feature__title">Optimum</h3>
                    <p>Brand identity design a the key to success whether you breath rebranding an existing business
                      or
                      creating a business</p>
                  </div>
                  <div class="feature__item">
                    <img class="" src="{% static 'imgs/feature/icon/3.png' %}" alt="Feature Icon">
                    <h3 class="feature__title">Thinking</h3>
                    <p>Creative typography plays the big role to pull off this trending more effectively with the
                      thinking use a thicker point</p>
                  </div>
                  <div class="feature__item">
                    <img src="{% static 'imgs/feature/icon/4.png' %}" alt="Feature Icon">
                    <h3 class="feature__title">Execution</h3>
                    <p>Stricky with multiple shades of the colours. However, this type of alone can look awesome
                      forever
                      an online business</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
      <!-- Feature area end -->




  <!-- Blog area start -->
  <section class="blog__area-4 blog__animation">
          <div class="container g-0 line_4 pt-150 pb-150">
                      <div class="line-col-4">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>

                      <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                          <div class="sec-title-wrapper text-anim">
                            <h2 class="sec-subtile-6">Recent Blog</h2>
                            <h3 class="sec-title-6 title-anim">Updated <br> Journal</h3>
                            <p>We help brands stand out through aweful, elegant visual design. Our design mainly philosophy.</p>
                            <a class="btn-started" href="{% url 'blog' %}">All Articles <span><i
                                  class="fa-solid fa-arrow-right"></i></span></a>
                          </div>
                        </div>

                        {% for b in blo %}
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                          <article class="blog__item-4">
                            <div class="blog__img-4">
                              <a href="/blog/{{b.url}}">
                                <img src="/media/{{b.thumbimage}}" alt="Blog Image">
                              </a>
                            </div>
                            <h4 class="blog__meta-4"><a href="/blog/{{b.url}}">{{b.category}}</a> <span>{{b.add_time}}</span></h4>
                            <h5><a href="/blog/{{b.url}}" class="blog__title-4">{{b.title}}</a></h5>
                            <a href="/blog/{{b.url}}" class="blog__btn-4">Read More <span><i
                                  class="fa-solid fa-arrow-right"></i></span></a>
                          </article>
                        </div>
                        {%endfor %}

                      </div>
                    </div>
  </section>
                  <!-- Blog area end -->



        <!-- FAQ area start -->

  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- FAQ area start -->
        <section class="faq__area-6">
          <div class="container g-0 line pt-130 pb-140">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title-2 animation__char_come">FAQ</h2>
                  <p class="">Frequently asked question (FAQ) <br> pages to find answars.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="faq__list-6">
                  <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                      {% for f in faq %}
                      <h2 class="accordion-header" id="headingOne{{fa.id}}">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          {{f.title}}
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>{{f.des}}</p>
                        </div>
                        {% endfor %}
                      </div>

                    </div>
                    <div class="accordion-item">
                      {% for fa in faaq %}
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo{{fa.id}}" aria-expanded="false" aria-controls="collapseTwo">
                          {{fa.title}}
                        </button>
                      </h2>
                      <div id="collapseTwo{{fa.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>{{fa.des}}</p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- FAQ area end -->


        <!-- CTA area end -->

      </main>


        <!-- FAQ area end -->




{% endblock content %}

