{% extends 'base.html' %}
{% load static %}

{% block title %} Service Details | Whatznot Technology{% endblock title %}






{% block content %}
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>
{% if ser %}
        <!-- Development area start -->
        <section class="development__area">
          <div class="container g-0 line pt-130 pb-150">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title animation__char_come">{{ser.title}}</h2>
                </div>
              </div>
              <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                <div class="development__wrapper">
                  <div class="development__content">
                    <p>{{ser.fdes | safe }}</p>
                  </div>
                  <ul>
                    {% for s in ser.tags.all%}
                    <li>+ {{s.title}}</li>
                    {% endfor%}
                  </ul>
                </div>
              </div>
              <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                <div class="development__img">
                  <img src="/media/{{ser.fimage}}" alt="Development Image" data-speed="auto">
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="development__img">
                  <img src="/media/{{ser.ffimage}}" alt="Development Image">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Development area end -->


        <!-- Workflow area start -->
        <section class="workflow__area-6">
          <div class="container g-0 line pb-130">
            <div class="line-3"></div>
            <div class="workflow__wrapper-6">
              <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                  <div class="workflow__slide-6">
                    <h6 class="workflow__title-6">{{ser.ptitle1}}</h6>
                    <p>{{ser.pfdes1 | safe}}
                    </p>
                  </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                  <div class="workflow__slide-6">
                    <h6 class="workflow__title-6">{{ser.ptitle2}}</h6>
                    <p>{{ser.pfdes2 | safe }}
                    </p>
                  </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                  <div class="workflow__slide-6">
                    <h6 class="workflow__title-6">{{ser.ptitle3}}</h6>
                    <p>{{ser.pfdes3 | safe}}
                    </p>
                  </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                  <div class="workflow__slide-6">
                    <h6 class="workflow__title-6">{{ser.ptitle4}}</h6>
                    <p>{{ser.pfdes4 | safe}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Workflow area end -->


        <!-- Service detail area start -->
        <section class="service__detail">
          <div class="container g-0 line pb-140">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title title-anim">{{ser.mtitle}}</h2>
                </div>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                <div class="service__detail-circle">
                  <span></span>
                </div>
              </div>
              <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                <div class="service__detail-img">
                  <img src="/media/{{ser.mimage}}" alt="Service detail image">
                  <img src="{% static 'imgs/icon/shape-6.png' %}" alt="Service shape image" class="sd-shape">
                </div>
                <div class="service__detail-content">
                  {{ser.mtitle}}
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service detail area end -->


        <!-- FAQ area start -->
        <section class="faq__area">
          <div class="container g-0 line pb-140">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="faq__img">
                  <img src="/media/{{ser.mmimage}}" alt="FAQ Image" data-speed="auto">
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="faq__content">
                  <h2 class="faq__title title-anim">{{ser.faqtitle}}</h2>

                  <div class="faq__list">
                    <div class="accordion" id="accordionExample">

                      {% for s in ser.sfaq.all %}

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{s.id}}">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{s.id}}" aria-expanded="true" aria-controls="collapseOne">
                            {{s.ftitle}}
                          </button>
                        </h2>
                        <div id="collapse{{s.id}}" class="accordion-collapse collapse " aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>{{s.ans | safe }}</p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- FAQ area end -->


        <!-- CTA area start -->
        <section class="cta__area">
          <div class="container line pb-110">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="cta__content">
                  <p class="cta__sub-title">Let's Connect</p>
                  <h2 class="cta__title title-anim">We would love to hear more about your project</h2>
                  <div id="btn_wrapper">
                    <a href="{% url 'contact' %}" class="wc-btn-primary btn-hover btn-item"><span></span>Let’s talk us <i
                        class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA area end -->

      </main>

{% endif %}
{% endblock content %}
