{% extends 'base.html' %}
{% load static %}

{% block title %} Portfolios | Whatznot Technology {% endblock title %}






{% block content %}




  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Portfolio area start -->
        <section class="portfolio__area-6">
          <div class="container line pt-100 pb-140">
            <span class="line-3"></span>
            <div class="zi-9">
              <div class="row">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6">
                  <div class="sec-title-wrapper portfolio__title-wrap-6">
                    <div class="">
                      <h2 class="sec-sub-title animation__char_come">Featured</h2>
                      <h3 class="sec-title animation__char_come_long">Work</h3>
                      <p>View the full case study of our recent featured and awesome works that we created for our
                        clients.
                      </p>
                    </div>

                  </div>
                </div>

                <div class="col-xxl-8 col-xl-7 col-lg-7 col-md-6">

                  <div class="portfolio__wrapper-6">
                    <div class="portfolio__list-6">
                      {%for pr in port %}
                      <div class="portfolio__item-6" data-portfitem="1">
                        <a href="{{pr.url}}">
                          <img src="/media/{{pr.himage}}" alt="Portfolio Image" data-speed="0.4">
                          <div class="portfolio__content-6">
                            <h4 class="portfolio__title-6">{{pr.name}}</h4>
                            <h5 class="portfolio__date">{{pr.add_time}}</h5>
                          </div>
                        </a>
                      </div>
                      {%endfor %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Portfolio area end -->


        <!-- CTA area start -->
        <section class="cta__area">
          <div class="container line pb-110">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="cta__content">
                  <p class="cta__sub-title">Let's Connect</p>
                  <h2 class="cta__title title-anim">We would love to hear more about your project</h2>
                  <div id="btn_wrapper">
                    <a href="{% url 'contact' %}" class="wc-btn-primary btn-hover btn-item"><span></span>Let’s talk us <i
                        class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA area end -->

      </main>





{% endblock content %}