
{% load static %}
 <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Hero area start -->
        <section class="hero__area ">
          <div class="container">
            <div class="row">
              <div class="col-xxl-12">
                <div class="hero__content animation__hero_one">
                  <a href="{% url 'service' %}">Strategy, Design,  Development, Marketing<span><i
                        class="fa-solid fa-arrow-right"></i></span></a>
                  <div class="hero__title-wrapper">
                    <h1 class="hero__title">Your Tech <br>Friend </h1>
                    <p class="hero__sub-title">With every single one of our clients, we
                      bring forth deep passion for
                      <span>creative problem solving</span>
                      which is what we deliver.
                    </p>
                  </div>
                  <img src="{% static 'imgs/icon/arrow-down-big.png' %}" alt="Arrow Down Icon">
                  <div class="experience">
                    <h2 class="title">550+</h2>
                    <p>Projects completed <br>successfully</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <img src="{% static 'imgs/hero/1/1-bg.png' %}" alt="image" class="hero1_bg">
        </section>
        <!-- Hero area end -->




        <!-- Roll area start -->
        <section class="roll__area">
          <div class="swiper roll__slider">
            <div class="swiper-wrapper roll__wrapper">
              <div class="swiper-slide roll__slide">
                <h2>Website UI Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Logo Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Banner Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>UI & UX Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Ads Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Mobile Apps UI Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Illustrator Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Graphic Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>DIgital SOlution</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Poster Design</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Branding</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Animation</h2>
              </div>
            </div>
          </div>
        </section>
        <!-- Roll area end -->


        <!-- Roll area start -->
         <section class="roll__area-3">
                  <div dir="rtl" class="swiper roll__slider">
                    <div class="swiper-wrapper roll__wrapper">
                      <div class="swiper-slide roll__slide ">
                        <h2>Automobile​</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>B2B</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Banking</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Beauty & Fashion</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Construction</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Ecommerce</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Education</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Finance</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>DIgital SOlution</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Government</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Healthcare</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Law</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>Media & Entertainment</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>MLM</h2>
                      </div>
                      <div class="swiper-slide roll__slide">
                        <h2>NGO</h2>
                      </div>
                    </div>
                  </div>
         </section>
         <!-- Roll area end -->


        <!-- Roll area start -->
        <section class="roll__area-2">
          <div class="swiper roll__slider">
            <div class="swiper-wrapper roll__wrapper">
              <div class="swiper-slide roll__slide">
                <h2>Mobile Apps Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>WordPress & CSM Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Website Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Software Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Plugin Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Payment Getaway Integration</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>IOS App Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Game Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Ecommerce Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Database Management</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Custom Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Android Apps Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>API Development</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Desktop Software</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2>Wordpress Development</h2>
              </div>
            </div>
          </div>
        </section>
        <!-- Roll area end -->


